<h1 class="title-navbar">Зустрічі</h1>
<app-search></app-search>
<section class="meetings">
  <div class="items" *ngFor="let meetting of meettings" (click)="openMeetting(meetting)" routerLink="/meetings/create">
    <div class="items__description">
      <p class="name">{{meetting.date}}</p>
      <div *ngFor="let service of meetting.services">
        <p class="text">{{service.name}}</p>
      </div>
    </div>
    <div class="image">
      <img *ngIf="meetting.state=='finished'" src="../../assets/img/success.png">
      <img *ngIf="meetting.state!='finished'" src="../../assets/img/declined.png">
    </div>
  </div>
</section>
