<h1 class="title-navbar">Новий кліент</h1>
<br><br>
<section class="add-client">
  <mat-form-field>
    <input matInput placeholder="Код клієнта" required [(ngModel)]="client.code">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Телефон" [(ngModel)]="client.phone">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Прізвище" [(ngModel)]="client.lastname">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Ім’я" [(ngModel)]="client.firstname">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="По батькові" [(ngModel)]="client.middlename">
  </mat-form-field>
  <div class="date">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Дата народження" [(ngModel)]="client.bithdate"> 
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle> 
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Стать"  [(ngModel)]="client.sex">
        <mat-option>
         Ч
        </mat-option>
        <mat-option>
          Ж
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button class="okay" (click)="saveClient()" routerLink="/clients">ОК</button>
</section>
