<section class="login">
  <img class="login__image" src="../../assets/img/logo.png">
  <h1 class="title">Авторизація</h1>
  <form class="form" [formGroup]="myForm">
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Email" type="text">
    </mat-form-field>
    <mat-form-field class="password">
      <img class="eye" src="../../assets/img/eye.png"  (click)="password()">
      <input matInput formControlName="password" placeholder="Введите пароль" [type]="show ? 'text' : 'password'">
    </mat-form-field>
    <mat-error *ngIf="!isValid">
      E-mail або пароль невірні
    </mat-error>
    <button type="submit" (click)="checkForm()">
      УВІЙТИ
    </button>
  </form>
  <p class="footer-text">"Всеукраинская сеть ЛЖВ"</p>
</section>
