<h1 class="title-navbar">Мої завдання</h1>
<app-search></app-search>
<section class="task">
  <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header [ngClass]="{'active-header': panelOpenState, 'non-active-header': !panelOpenState}">
      <mat-panel-title>
        HealthLink
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-expansion-panel expanded="true" (opened)="panelOpenStateChild = true" (closed)="panelOpenStateChild = false">
      <mat-expansion-panel-header class="child" [ngClass]="{'active-header': panelOpenStateChild, 'non-active-header': !panelOpenStateChild}">
        <mat-panel-title>
          ДКТ
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expanded-items">
        <div class="expanded-items__item active">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
        <div class="expanded-items__item child">
          <p>Консультування,<br>Тестування
          <div routerLink="/meetings/create">
            <img src="../../assets/img/calen.png">
          </div>
        </div>
        <div class="expanded-items__item">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
        <div class="expanded-items__item">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
        <div class="expanded-items__item">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true" (opened)="panelOpenStateChild1 = true" (closed)="panelOpenStateChild1 = false">
      <mat-expansion-panel-header class="child" [ngClass]="{'active-header': panelOpenStateChild, 'non-active-header': !panelOpenStateChild}">
        <mat-panel-title>
          ДУ
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expanded-items" >
        <div class="expanded-items__item active">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
        <div class="expanded-items__item child">
          <p> доведення до<br> обліку</p>
          <div routerLink="/meetings/create">
            <img src="../../assets/img/calen.png">
          </div>
        </div>
        <div class="expanded-items__item">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
        <div class="expanded-items__item">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
        <div class="expanded-items__item">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel expanded="true" (opened)="panelOpenStateChild2 = true" (closed)="panelOpenStateChild2 = false">
      <mat-expansion-panel-header class="child" [ngClass]="{'active-header': panelOpenStateChild, 'non-active-header': !panelOpenStateChild}">
        <mat-panel-title>
          Супровід
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expanded-items" routerLink="/meetings/create">
        <div class="expanded-items__item active">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
        <div class="expanded-items__item child">
          <p> видача презервативів,<br> обмін шприців</p>
          <div routerLink="/meetings/create">
            <img src="../../assets/img/calen.png">
          </div>
        </div>
        <div class="expanded-items__item">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
        <div class="expanded-items__item">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
        <div class="expanded-items__item">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
  <mat-expansion-panel disabled="true">
  <mat-expansion-panel-header class="non-active-header">
    <mat-panel-title>
      Выдача презервативов
    </mat-panel-title>
  </mat-expansion-panel-header>

  </mat-expansion-panel>
  <mat-expansion-panel disabled="true">
    <mat-expansion-panel-header class="non-active-header">
      <mat-panel-title>
        Доведение до учета
      </mat-panel-title>
    </mat-expansion-panel-header>

  </mat-expansion-panel>
  <mat-expansion-panel disabled="true">
  <mat-expansion-panel-header class="non-active-header">
    <mat-panel-title>
      Тестирование
    </mat-panel-title>
  </mat-expansion-panel-header>
</mat-expansion-panel>
  <mat-expansion-panel disabled="true">
    <mat-expansion-panel-header class="non-active-header">
      <mat-panel-title>
        Консультирование
      </mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</section>
