<h1 class="title-navbar">Мої завдання</h1>
<app-search></app-search>
<section class="task">
  <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header [ngClass]="{'active-header': panelOpenState, 'non-active-header': !panelOpenState}">
      <mat-panel-title>
        Обмен шприцев
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-expansion-panel expanded="true" (opened)="panelOpenStateChild = true" (closed)="panelOpenStateChild = false">
      <mat-expansion-panel-header class="child" [ngClass]="{'active-header': panelOpenStateChild, 'non-active-header': !panelOpenStateChild}">
        <mat-panel-title>
          Пакет 1 проекту 1
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expanded-items" routerLink="/meetings/create">
        <div class="expanded-items__item active">
          <p>Виконано - 30<br>
            Надається у в'язниці</p>
          <div>
            <img src="../../assets/img/calen.png">
          </div>
        </div>
        <div class="expanded-items__item">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
        <div class="expanded-items__item">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
        <div class="expanded-items__item">
          <p>Пакет 1 проекту 1 проекту 1</p>
          <p>50</p>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-expansion-panel>
</section>
