.task {
  max-width: 340px;
  margin: 0 auto;
}

.non-active-header {
  background-color: #ffffff !important;
  .mat-expansion-panel-header-title {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
}

.active-header {
  height: 51px;
  border-radius: 2px;
  background-color: #2c93f3;
  .mat-expansion-panel-header-title {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
}




::ng-deep mat-expansion-panel{
  box-shadow: none !important;
}  


.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-keyboard-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]).cdk-program-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled=true]) .mat-expansion-panel-header:not(.non-active-header) .mat-expansion-panel-header:not(.child):hover {
  background: #2c93f3;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header:not(.non-active-header), .mat-expansion-panel-header.mat-expanded, .mat-expansion-panel-header:not(.child):hover {
  background: #2c93f3;
}

::ng-deep .mat-expansion-panel-body {
  padding: 2px 2px 2px 2px !important;
}




.child.active-header {
  height: 44px !important;
  border-radius: 2px;
  margin: 5px;
  padding: 0px 15px !important;
  background-color: #eaf4fd !important;
  .mat-expansion-panel-header-title {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c93f3;
  }
}

.child.non-active-header {
  margin: 5px;
  padding: 0px 15px !important;
  background-color: #eaf4fd !important;
  .mat-expansion-panel-header-title {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
  }
}




.item-service {
  display: flex;
  justify-content: space-between;
    align-items: center;
  padding: 10px 0px 10px 30px !important ;
  max-width: 282px;
  border-bottom: solid 1px #d3d3d3;
  p {
    font-size: 14px;
    color: #8b8b8b;
  }
}

.item-service.child {
  p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #000000;
  }
  div {
    width: 44px;
    height: 44px;
    border-radius: 25px;

    box-shadow: 0 2px 4px 0 rgba(0, 122, 255, 0.28);
    background-color: #2c93f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.task {
  .mat-expansion-panel-content.mat-expanded > .mat-expansion-panel-body {
    padding: 0 !important;
  }
}

.mat-expansion-indicator::after {
  color: white !important;
}

.item-service.active {
  p {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c93f3;
  }
}
