<h1 class="title-navbar">Мої завдання</h1>
<app-search></app-search>
<section class="task" *ngIf="project.packages">
  <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header [ngClass]="{'active-header': panelOpenState, 'non-active-header': !panelOpenState}">
      <mat-panel-title>
        {{project.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-expansion-panel  (opened)="panelOpenStateChild[pi]=true" (closed)="panelOpenStateChild[pi]=false" *ngFor="let package of project.packages; index as pi">
      <mat-expansion-panel-header class="child" [ngClass]="{'active-header': panelOpenStateChild[pi], 'non-active-header':  !panelOpenStateChild[pi]}">
        <mat-panel-title>
          {{package.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="expanded-items" *ngFor="let service of package.services; index as si" (click)="panelOpenStateSubChild[pi*20 + si]=!panelOpenStateSubChild[pi*20 + si]">
        <div class="item-service" [ngClass]="{'active': panelOpenStateSubChild[pi*20 + si]}" >
          <p>{{service.name}}</p>
          <p class="service-count">{{service.count}}</p>
        </div>
      
        <div class="item-service child" *ngIf="panelOpenStateSubChild[pi*20 + si]">
          <p>Виконано {{service.done}}<br>{{service.comment}}
          <div class="create_meeting" (click)="meetingCreate(service)" routerLink="/meetings/create">
            <img src="../../assets/img/calen.png">
          </div>
        </div>
      </div>
    </mat-expansion-panel>
   
  </mat-expansion-panel>
 
</section>
