<h1 class="title-navbar">Зустріч</h1>
<app-search></app-search>
<section class="create-meeting">
  <div class="create-meeting__header">
    <div>
      <p class="bold">05.02.2019</p>
      <p class="normal">Широта - 50.460718 </p>
    </div>
    <div>
      <p class="bold right">№3040</p>
      <p class="normal right">Довгота - 30.480146</p>
    </div>
  </div>
  <mat-form-field class="demo-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable"
                [removable]="removable" (remove)="remove(fruit)">
        {{fruit.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Обрати клієнта"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-list>
  </mat-form-field>

  <app-second-chips></app-second-chips>
  <div class="action">
    <div class="action-div" (click)="showSms = true">
      <div>
        <p class="name">Послуга 1 пакету 1 проек…</p>
        <p class="status">нова</p>
      </div>
      <div class="close">
        <img src="../../assets/img/close-red.png">
      </div>
    </div>
    <div *ngIf="showSms" class="sms-div">
      <input type="text" placeholder="Код з СМС" [(ngModel)]="sms" (ngModelChange)="submit()">
      <button class="submit-sms">НАДІСЛАТИ СМС</button>
    </div>
    <div class="date-div">
      <div class="start">
        <input type="text" placeholder="Початок">
      </div>
      <button class="finish" (click)="finish()">ЗАВЕРШИТИ</button>
    </div>
    <div class="final" *ngIf="showFinal">
      <select>
        <option disabled>Виберіть результат</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  </div>
</section>
