<h1 class="title-navbar">Зустріч</h1>
<section class="create-meeting">
  <div class="create-meeting__header">
    <div>
      <p class="bold">05.02.2019</p>
      <p class="normal">Широта - 50.460718 </p>
    </div>
    <div>
      <p class="bold right">№3040</p>
      <p class="normal right">Довгота - 30.480146</p>
    </div>
  </div>
  <mat-form-field class="example-full-width">
    <input style="margin-top: 5px" matInput placeholder="Обрати клієнта" aria-label="State" [matAutocomplete]="auto"
           [(ngModel)]="nameItem"
           [formControl]="stateCtrl" (blur)="onBlurMethod()">
    <div class="circle" routerLink="/clients">
      <img src="../../assets/img/pen.png">
    </div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of names  | filterBy: nameItem" [value]="item">
        <span>{{ item }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Додати послугу" aria-label="State" [matAutocomplete]="spec" [(ngModel)]="speciality"
           [formControl]="specialityCtrl" (blur)="onBlurMethodSpeciality()">
    <div class="circle" (click)="AddService($event,speciality)">
      <img src="../../assets/img/add.png">
    </div>
    <mat-autocomplete #spec="matAutocomplete">
      <mat-option *ngFor="let item of specialitys  | filterBy: speciality" [value]="item">
        <span>{{ item }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <div class="action" *ngFor="let service of meetting.services">
    <div class="action-div" (click)="showDate || showFinal ? '' : showSms = true ">
      <div>
        <p class="name">{{service.name}}</p>
        <p class="status">{{service.state}}</p>
      </div>
      <div class="close" (click)="deleteService(service)">
        <img src="../../assets/img/close-red.png">
      </div>
    </div>
    <div *ngIf="showSms" class="sms-div">
      <div class="services">
        <p class="services__text">Кількість послуг:</p>
        <div class="count__container">
          <img class="minus" (click)="decrement()" src="../../assets/img/minus.png">
          <input class="count" type="number" readonly [(ngModel)]="counter">
          <img class="plus" (click)="increment()" src="../../assets/img/plus.png">
        </div>
      </div>
      <input *ngIf="service.state=='send'" type="number" placeholder="Код з СМС" [(ngModel)]="sms">
      <button *ngIf="service.state=='send'" class="submit-sms" (click)="verifySMS(service)">Ок</button>  
      <div *ngIf="service.state=='send'">
        <i class="fas fa-redo" id="redo"></i>
        <a class="resend">Надіслати повторно</a>
      </div>
      <button *ngIf="service.state=='new'" class="submit-sms" (click)="sendSMS(service)">НАДІСЛАТИ СМС</button>
      <button class="submit-sms" *ngIf="service.state=='verified'" (click)="startService(service)">Почати послугу</button>
    </div>
    <div class="date-div" *ngIf="service.state=='started'||service.state=='finished'">
      <div class="start">
        <input type="text" placeholder="Початок" readonly [(ngModel)]="startTime">
      </div>
      <div class="end">
        <input type="text" placeholder="Кінець" readonly [(ngModel)]="endTime">
      </div>
      <button class="finish" *ngIf="service.state=='started'" (click)="finishService(service)">ЗАВЕРШИТИ</button>
    </div>
    <div class="final" *ngIf="service.state=='finished'">
      <select>
        <option disabled>Виберіть результат</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  </div>

</section>
