<h1 class="title-navbar">Зустріч</h1>
<section class="create-meeting">
  <div class="create-meeting__header">
    <div>
      <p class="bold">05.02.2019</p>
      <p class="normal">Широта - 50.460718 </p>
    </div>
    <div>
      <p class="bold right">№3040</p>
      <p class="normal right">Довгота - 30.480146</p>
    </div>
  </div>
  <mat-form-field class="example-full-width">
    <input style="margin-top: 5px" matInput placeholder="Обрати клієнта" aria-label="State" [matAutocomplete]="auto"
           [(ngModel)]="nameItem"
           [formControl]="stateCtrl" (blur)="onBlurMethod()">
    <div class="circle" routerLink="/clients">
      <img src="../../assets/img/pen.png">
    </div>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let item of names  | filterBy: nameItem" [value]="item">
        <span>{{ item }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Додати послугу" aria-label="State" [matAutocomplete]="spec" [(ngModel)]="speciality"
           [formControl]="specialityCtrl" (blur)="onBlurMethodSpeciality()">
    <div class="circle">
      <img src="../../assets/img/add.png">
    </div>
    <mat-autocomplete #spec="matAutocomplete">
      <mat-option *ngFor="let item of specialitys  | filterBy: speciality" [value]="item">
        <span>{{ item }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <div class="action">
    <div class="action-div" (click)="showDate || showFinal ? '' : showSms = true ">
      <div>
        <p class="name">Послуга 1 пакету 1 проек…</p>
        <p class="status">нова</p>
      </div>
      <div class="close">
        <img src="../../assets/img/close-red.png">
      </div>
    </div>
    <div *ngIf="showSms" class="sms-div">
      <div class="services">
        <p class="services__text">Кількість послуг:</p>
        <div class="count__container">
          <img class="minus" (click)="decrement()" src="../../assets/img/minus.png">
          <input class="count" type="number" [(ngModel)]="counter">
          <img class="plus" (click)="increment()" src="../../assets/img/plus.png">
        </div>
      </div>
      <input *ngIf="send" type="text" placeholder="Код з СМС" [(ngModel)]="sms">
      <div *ngIf="send">
        <i class="fas fa-redo" id="redo"></i>
        <a class="resend">Надіслати повторно</a>
      </div>
      <button *ngIf="!send" class="submit-sms" (click)="send = true">НАДІСЛАТИ СМС</button>
      <button class="submit-sms" *ngIf="send" (click)="submit()">ОК</button>
    </div>
    <div class="date-div" *ngIf="showDate">
      <div class="start">
        <input type="text" placeholder="Початок">
      </div>
      <div class="end">
        <input type="text" placeholder="Кінець">
      </div>
      <button class="finish" (click)="finish()">ЗАВЕРШИТИ</button>
    </div>
    <div class="final" *ngIf="showFinal">
      <select>
        <option disabled>Виберіть результат</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
  </div>
</section>
