.create-meeting {
  padding: 0 17px;
  background: white;
  ::ng-deep .mat-form-field-underline, ::ng-deep .mat-form-field-ripple {
    background-color: #989898 !important;
  }

  ::ng-deep .mat-form-field-label, ::ng-deep .mat-focused {
    color: #989898 !important;
  }

  ::ng-deep .mat-input-element {
    caret-color: #989898;
    color: #989898;
  }
  .mat-form-field {
    width: 100%;
    margin-top: 30px;
  }
  .create-meeting__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    div {
      .bold {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
      }
      .normal {
        margin: 0;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #989898;
      }
      .bold.right, .normal.right {
        text-align: right;
      }
    }
  }
}

.action {
  background-color: #f2f4f7;
  padding: 7px 15px;
  .action-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    div {
      .name {
        font-size: 16px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #000000;
        margin: 0;
      }
      .status {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #43b65c;
        margin: 0;
      }
    }
    .close {
      width: 36px;
      height: 36px;
      border-radius: 20px;
      background-color: #ffffff;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  .sms-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    input {
      width: 150px;
      height: 40px;
      border-radius: 2px;
      box-shadow: 0 2px 4px 0 rgba(213, 213, 213, 0.28);
      background-color: #ffffff;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #989898;
      border: 0;
      box-sizing: border-box;
      padding: 10px 14px;
    }
    .submit-sms{
      width: 150px;
      height: 40px;
      border-radius: 2px;
      background-color: #2c93f3;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
      border: 0;
    }
  }
  .date-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
